<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.spinner_tech.afiqsouq">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".View.Activities.otpAcitivity"></activity>
        <activity android:name=".LiveChat">

        </activity>

        <activity android:name=".View.Activities.OldOrderDetails" />
        <activity android:name=".View.Activities.oldOrderList" />
        <activity android:name=".View.Activities.Add_Review" />
        <activity android:name=".View.Activities.reviewActivity" />
        <activity android:name=".View.Activities.Top_Recent_List" />
        <activity android:name=".View.Activities.OrderDone" />
        <activity
            android:name=".View.Activities.SelectDeliveryAddress"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".View.Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activities.CartListPage" />
        <activity android:name=".View.Activities.ProductList" />
        <activity android:name=".View.Activities.ProductDetails" />
        <activity android:name=".View.Activities.CategoryViewPage" />
        <activity android:name=".View.Activities.Category_List" />
        <activity
            android:name=".View.Activities.SignUP"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".View.Activities.Sign_in" />
        <activity
            android:name=".View.Home_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>